.sidemenu_container {
    min-width: 20%;
    background-color: #FEFEFE;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 18px;
}

.sidemenu_card, .sidemenu_subcategory {
    padding: 8px;
    cursor: pointer;
}

.sidemenu_card > img {
    margin-right: 16px;
    vertical-align: middle;
}

.sidemenu_card:hover:not(.sidemenu_card_checked), .sidemenu_subcategory:hover:not(.sidemenu_subcategory_checked) {
    background-color: #FAFAF9;
}

.sidemenu_card_checked, .sidemenu_subcategory_checked {
    background-color: #FBF3DC;
    color: #E8821D;
    border-radius: 4px;
}
.sidemenu_subcategories_container{
    padding: 8px;
    margin-left: 42px;
}
