.tooltip_container {
    background-color: #FAFBFB;
    padding:  8px;
    border-radius: 4px;
    width: 10%;
    height: fit-content;
}

.tooltip_option {
    padding: 4px;
    cursor: pointer;
}

.tooltip_option:last-child {
    border-top: 1.5px solid #F6F8F9;
}