* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #FAFAF9;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #605E66;
  opacity: 80%;
}

