.rightMenu_navigation {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    background-color: #F7F9FA;
}

.rightMenu_card {
    padding: 16px 8px;
    cursor: pointer;
    border-radius: 4px;
}

.activ_menu_card {
    background-color: #E8821D;
}